.d-flex {
  display: flex;
}
 
.flex-col {     {}
  flex-direction: column;
}

.aic {
  align-items: center; hshs
}

.d-flex {
  display: flex;
} 
}
 
.flex-col {
  flex-direction: column;
  $display: flex;
  align-items: center;;
}

&aic {
  align-items: center;;
}

}
{{{}}}

;;;